<!-- Footer -->
<section class="page-footer font-small special-color-dark p-5 bg-dark">
    <div class="container-full">
        <div class="row align-self-center">
            <div class="col-md-5 align-self-center justify-md-center">
                <ul class="list-unstyled row ">
                    <div class="col-md-2 ">
                        <li>
                            <a class="js-scroll-trigger text-sm-left" href="/#howitworks">Como Funciona </a>
                        </li>
                    </div>
                    <div class="col-md-2">
                        <li>
                            <a class="js-scroll-trigger" href="/build/">Comprar</a>
                        </li>
                        <li>
                            <a href="/Cart/">Carrito</a>
                        </li>
                    </div>
                    <div class="col-md-2">
                        <li>
                            <a href="/Productos/">Servicios</a>
                        </li>
                        <li>
                            <a href="/Productos/">Productos</a>
                        </li>
                    </div>
                    <div class="col-md-2">
                        <li>
                            <a href="/Terminos/">Términos y condiciones </a>
                        </li>
                    </div>
                    <div class="col-md-2">
                        <li>
                            <a href="/PrivacyPolicy/">Aviso de privacidad
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-md-3 align-self-center text-center">
                <p class="text-light">Suscribete para recibir promociones</p>
                <form id="foo_news" class="input-group">
                    <input type="text" class="form-control form-control-sm" id="inp_news_f" placeholder="@ Correo electronico" aria-label="@ Correo electronico" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white text-light btn-warning my-0" type="submit">Registar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 align-self-center text-center">
                <img class="img-fluid" src="/assets/img/ssl4.gif">
            </div>
            <div class="col-md-2 align-self-center">
                <a href="https://api.whatsapp.com/send?phone=525518467498&text=Buen%20d%C3%ADa,%20quiero%20recibir%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20DiiFrame.com" class="btn btn-success text-capitalize"><i class="fab fa-whatsapp"></i> Contáctanos por WhatsApp</a>
            </div>

        </div>
    </div>
</section>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 bg-light">
    <!-- Footer Links -->
    <div class="container text-center text-md-left ">
        <!-- Grid row -->
        <div class="row d-flex align-items-center bg-light">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left" id="fecha_copyright">
                </p>
                <p class="text-center text-md-left text-muted"><small>Calle 23 número 52-A, Colonia Santa Cruz Aviación, Venustiano
                        Carranza, Ciudad de México, C.P. 15520</small>
                </p>
                <input id="date" class="d-none">
                <input id="inp_iva" class="d-none">

            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/diiframe/" target="_blank" rel="nofollow" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f "></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/diiframe" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter "></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/diiframe" target="_blank" rel="nofollow" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-instagram "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<?php require $_SERVER['DOCUMENT_ROOT'].'/assets/components/principal/scripts.html'; ?>
<script>
    $(document).ready(function() {
        var d = new Date();
        var dia = d.getDate();
        var mes = d.getMonth() + 1;
        var año = d.getFullYear();
        var hora = d.getHours();
        var minuto = d.getMinutes();
        var segundos = d.getSeconds();
        if (mes.toString().length < 2) {
            mes = "0" + mes.toString();
        } else {
            mes = mes.toString();
        }
        if (dia.toString().length < 2) {
            dia = "0" + dia.toString();
        } else {
            dia = dia.toString();
        }
        var fecha = dia + "-" + mes + "-" + año.toString() + " " + hora.toString() + ":" + minuto.toString() + ":" + segundos.toString();
        $("#date").val(fecha);
        $("#fecha_copyright").append('© ' + año + ' Copyright:<strong class="text-warning"> DiiFrame S.A. DE C.V.</strong>');
    });
    $("#foo_news").submit(function(event) {

        var parametros = {
            "email": document.getElementById("inp_news_f").value,
            "fecha": document.getElementById("date").value
        }
        $.ajax({
            data: parametros,
            url: '/assets/tools/signin/newsletter.php',
            type: 'post',
            success: function(response) {
                alert(response);

                $('#inp_news_f').val('');
                $('#subscribeModal').modal('hide');
                $('#news').val(response);
                //location.href = "/Cart/";
            }
        });
        event.preventDefault();
    });

</script>
