<nav class="navbar navbar-expand-lg navbar-dark  fixed-top text-dark" id="mainNav">
	<div class="col-sm-4 visible-sm-block visible-md-block align-left">

		<div class="collapse navbar-collapse navbar-brand " id="navbarResponsive2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="mr-3" href="/build/">Comprar</a>
				</li>
				<li class="nav-item">
					<a class="mr-3 js-scroll-trigger" href="#howitworks">Como Funciona</a>
				</li>
				<li class="nav-item">
					<a  class="mr-3" href="/Productos/#">Servicios / Productos</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-4 visible-sm-block visible-md-block">
		<center><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
			</button>
            <a href="/"><img src="/assets/img/logo.png" alt="Logo" style="width:200px;"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">             <i class="fas fa-bars"></i>
			</button></center>
	</div>
	<div class="col-sm-4 visible-sm-block visible-md-block">

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item align-self-center">
                    <a class="ml-3" href="/Login/">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="ml-3"  href="/Cart/">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                    </a>
                </li>
                 <!-- boton
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#features">
						<p><i class="fas fa-comment-alt "></i></p>
					</a>
				</li>-->
				<li class="nav-item">
					<a href="/build/"><button class="ml-3 btn btn-warning text-dark">Crear</button></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
	</div>
</nav>
