<nav class="navbar navbar-expand-lg navbar-dark bg-white  text-dark" id="mainNav">
    <div class="col-sm-4 visible-sm-block visible-md-block align-left">

        <div class="collapse navbar-collapse navbar-brand text-dark" id="navbarResponsive2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a onclick="location.href='/build/';" class="nav-link js-scroll-trigger text-dark" href="#">Comprar</a>
                </li>
                <li class="nav-item">
                    <a onclick="location.href='/#howitworks';" class="nav-link js-scroll-trigger text-dark" href="#">Como Funciona</a>
                </li>
                <li class="nav-item">
                   <a onclick="location.href='/Productos/';" class="nav-link js-scroll-trigger text-dark" href="#">Nuestros Productos</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 visible-sm-block visible-md-block">
        <center>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a href="/"><img src="/assets/img/logo.png" alt="Logo" style="width:200px;"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </center>
    </div>
    <div class="col-sm-4 visible-sm-block visible-md-block">

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item align-self-center">
                    <a class="text-dark ml-3" href="/user/">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="ml-3 text-dark" href="/Cart/">
                       <i class="fas fa-shopping-cart fa-2x"><span class="badge badge-danger badge-counter" id="Cantidad_Carrito"></span></i>
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/build/"><button class="ml-3 btn btn-secondary">Crear</button></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
    </div>
</nav>
