.foto_portrait_3cm {
    position: absolute;
    height: 200px;
    width: 150px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 75px;
    z-index: 1;
}

.foto_portrait_5cm {
    position: absolute;
    height: 180px;
    width: 130px;
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 85px;
    z-index: 1;
}

.foto_portrait_10cm {
    position: absolute;
    height: 150px;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    z-index: 1;
}

.foto_portrait_SM {
    position: absolute;
    height: 250px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    z-index: -1;
}

.foto_landscape_3cm {
    position: absolute;
    height: 100px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    z-index: 1;
}

.foto_landscape_5cm {
    position: absolute;
    height: 90px;
    width: 140px;
    margin-top: 105px;
    margin-bottom: 105px;
    margin-left: 55px;
    z-index: 1;
}

.foto_landscape_10cm {
    position: absolute;
    height: 70px;
    width: 120px;
    margin-top: 115px;
    margin-bottom: 115px;
    margin-left: 65px;
    z-index: 1;
}

.foto_landscape_SM {
    position: absolute;
    height: 150px;
    width: 200px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 25px;
    z-index: -1;
}

.foto_square_3cm {
    position: absolute;
    height: 160px;
    width: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 75px;
    z-index: 1;
}

.foto_square_5cm {
    position: absolute;
    height: 150px;
    width: 140px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 80px;
    z-index: 1;
}

.foto_square_10cm {
    position: absolute;
    height: 120px;
    width: 110px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 95px;
    z-index: 1;
}

.foto_square_SM {
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    z-index: -1;
}

.marco_portrait {
    height: 350px;
    width: 300px;
    z-index: 0;
}

.marco_landscape {
    height: 300px;
    width: 250px;
    z-index: 0;
}

.marco_square {
    height: 300px;
    width: 300px;
    z-index: 0;
}

.ambiente1 {
    z-index: 0;
}

#ambiente1 {
    z-index: 0;
    position: relative;
}

#ambiente1 .marco_portrait {
    height: 87.5px;
    width: 75px;
    margin-top: 15px;
    margin-left: 110px;
    z-index: 1;
}

#ambiente1 .marco_landscape {
    height: 83.3px;
    width: 100px;
    margin-top: 15px;
    margin-left: 100px;
    z-index: 0;
}
#ambiente1 .marco_square {
    height: 87.5px;
    width: 75px;
    margin-top: 15px;
    margin-left: 110px;
    z-index: 1;
}

#ambiente1 .foto_portrait_3cm {
    position: absolute;
    height: 50px;
    width: 37.5px;
    margin-top: 19px;
    margin-bottom: 20px;
    margin-left: 19px;
    z-index: 1;
}

#ambiente1 .foto_portrait_5cm {
    position: absolute;
    height: 45px;
    width: 32.5px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 21px;
    z-index: 1;
}

#ambiente1 .foto_portrait_10cm {
    position: absolute;
    height: 40px;
    width: 27.5px;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
    z-index: 1;
}

#ambiente1 .foto_portrait_SM {
    position: absolute;
    height: 60px;
    width: 47.5px;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: 14px;
    z-index: 1;
}

#ambiente1 .foto_landscape_3cm {
    position: absolute;
    height: 49px;
    width: 55px;
    margin-top: 18px;
    margin-bottom: 100px;
    margin-left: 22px;
    z-index: 1;
}

#ambiente1 .foto_landscape_5cm {
    position: absolute;
    height: 45px;
    width: 50px;
    margin-top: 19px;
    margin-bottom: 100px;
    margin-left: 25px;
    z-index: 1;
}

#ambiente1 .foto_landscape_10cm {
    position: absolute;
    height: 35px;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 30px;
    z-index: 1;
}

#ambiente1 .foto_landscape_SM {
    position: absolute;
    height: 55px;
    width: 65px;
    margin-top: 14px;
    margin-bottom: 100px;
    margin-left: 18px;
    z-index: 1;
}

#ambiente1 .foto_square_3cm {
   position: absolute;
    height: 50px;
    width: 37.5px;
    margin-top: 19px;
    margin-bottom: 20px;
    margin-left: 19px;
    z-index: 1
}

#ambiente1 .foto_square_5cm {
    position: absolute;
    height: 45px;
    width: 32.5px;
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 21px;
    z-index: 1;
}

#ambiente1 .foto_square_10cm {
    position: absolute;
    height: 40px;
    width: 27.5px;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
    z-index: 1;
}

#ambiente1 .foto_square_SM {
    position: absolute;
    height: 60px;
    width: 47.5px;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: 14px;
    z-index: 1;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
