.device-mockup {
    position: relative;
    width: 100%;
    padding-bottom: 61.775701%;
}

.device-mockup > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("macbook/macbook.png");
}

.device-mockup > .device > .screen {
    position: absolute;
    top: 11.0438729%;
    bottom: 14.6747352%;
    left: 13.364486%;
    right: 13.364486%;
    overflow: hidden;
}

.device-mockup > .device > .button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    cursor: pointer;
}


/* DEVICES */

/* iPad Pro */
.device-mockup.ipad_pro,
.device-mockup.ipad_pro.portrait {
    padding-bottom: 138.63%;
}

.device-mockup.ipad_pro.landscape {
    padding-bottom: 72.14%;
}



.device-mockup.ipad_pro > .device > .screen,
.device-mockup.ipad_pro.portrait > .device > .screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
}

.device-mockup.ipad_pro.landscape > .device > .screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 5.177551%;
    bottom: 5.177551%;
    left: 25%;
    right: 25%;
}



/* Galaxy S5 */
.device-mockup.galaxy_s5,
.device-mockup.galaxy_s5.portrait {
    padding-bottom: 138.63%;
    z-index: 5;
}

.device-mockup.galaxy_s5.landscape {
    padding-bottom: 72.14%;
}

.device-mockup.galaxy_s5 > .device > .screen,
.device-mockup.galaxy_s5.portrait > .device > .screen {
     display: flex;
    flex-direction: column;
    justify-content: center;
        top: 0;
    bottom: 0%;
    left: 15%;
    right: -2%;
    z-index: -1;
}

.device-mockup.galaxy_s5.landscape > .device > .screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
        top: 0;
    bottom: 0%;
    left: 3.85%;
    right: -11%;
    z-index: -1;
}

/* ambiente1 */
.device-mockup.ambiente1,
.device-mockup.ambiente1.portrait {
    padding-bottom: 138.63%;
}

.device-mockup.ambiente1.landscape {
    padding-bottom: 72.14%;
}





.device-mockup.ambiente1.landscape > .device > .screen.landscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    top: -20.822449%;
    bottom: 5.177551%;
    left: 35%;
    right: 74%;
}
.device-mockup.ambiente1.landscape > .device > .screen.portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    top: -20.822449%;
    bottom: 5.177551%;
    left: 42%;
    right: 74%;
}

